* {
    overflow-x: hidden;
    user-select: none;
    text-decoration: none;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#lastUpdate {
    font-weight: bold;
}